@model IEnumerable<GestionPrestamoBancoWeb.Models.CuotaPrestamo>

@{
    ViewData["Title"] = "PorPrestamo";
}

<h1>PorPrestamo</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdCuota)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdPrestamo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroCuota)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaVencimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MontoTotalCuota)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MontoCapital)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MontoInteres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SaldoPendiente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MontoPagado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadoCuota)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdCuota)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdPrestamo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroCuota)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaVencimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MontoTotalCuota)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MontoCapital)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MontoInteres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SaldoPendiente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MontoPagado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoCuota)
            </td>
            <td>
                @Html.ActionLink("Pagar", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
